*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    /* position: relative; */
    font-family: Arial, sans-serif;
    white-space: nowrap;
    width: 100%;
}
.header{
    /* border: 1px solid red; */
    padding: 1px; /* CSS hatası header kısmına bir boyut verilmediği için sayfa oradaki etiketleri okuyamıyor bu yüzden body e eklediğimiz img etiketine margin değerini verdiğimizde header etiketiyle birlikte uygulayıp kaydırıyor.
    Eğer header a bizim verdiğimiz gibi padding margin ya da border değerleri verilmediğinde aşağıdaki yöntem uygulanır.
    html de header etiketleri arasına bir boş div açılır ve 
    css style olarak "clear: both;" uygulanır.*/
}
.left{
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}
.right{
    float: right;
    margin: 10px 0 0 15px;
}
.left a{
    color: #5f6368;
    margin-left: 15px;
}
.right a , button{
    color: black;
    margin-right: 15px;
}
.right a:hover , 
.left a:hover{
    border-bottom: 1px solid black;
}
#appicon{
    vertical-align: middle;
    opacity: 0.5;
}
#appicon:hover{
    opacity: 1.0;
}
.right button{
    background-color:#4285f4 ;
    color: white;
    border: none;
    height: 30px;
    width: 70px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}
.clear{
    /* clear: both; */
}
#google{
    display: block;
    /* position: absolute;
    left: 630px;
    top: 250px; */
    height: 95px;
    width: 272px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
}