*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    /* position: relative; */
    font-family: Arial, sans-serif;
    white-space: nowrap;
    width: 100%;
}